body {
  background-color: #64b7ff;
}

.mainDiv {
  display: flex;
  justify-content: center;
}

.headerDiv {
  display: block;
  width: 100vw;
  height: 10vh;
  background: white;
}

.buttonDiv {
  display: block;
  margin: 0 auto;
  float: right;
  padding: 10px;
  /* vertical-align: middle; */
}

#header {
  vertical-align: middle;
  font-size: 30px;
  width: 100vw;
  /* height: 100%; */
}

.formDiv {
  display: flex;
  /* vertical-align: middle; */
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 70vh;
}

#signup {
  margin: 10%;
  background-color: white;
  vertical-align: middle;
  justify-content: center;
  box-shadow: 1px 1px 1px 1px;
  border-radius: 4px 4px 4px 4px;
  padding: 40px;
}

.button {
  background-color: #0280ff;
  color: white;
  border-radius: 2px 2px 2px 2px;
}

.iconDiv {
  margin: 5px;
  padding: 5px;
}
.icon {
  height: 2em;
  width: 2em;
  padding: 3px;
}
